
.mainRow {
    width: 75vw;
    height: 50vh;
}

.secondRow {
    width: 75vw;
    height: 50vh;
}

.topLeft {
    background-image: url("~src/assets/CTMap.png");

}

.topRight {
    background-image: url("~src/assets/sms.jpg");
}



.bottomRight {
    background-image: url("~src/assets/auto.png");
}

.photography-entry {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 0;
    position: relative;
}

.bottomLeft {
    background-image: url("~src/assets/projects.png");
    background-size: 100% 100%;
    background-position: center;
    /* border: 2px solid red; */
}

.photography-entry:hover .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgb(0, 0, 0);
    opacity: .7;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out; 
    transition: all .3s ease-out;
}

.overlayText {
    color: #fff;
}

.pb-1 {
    color: rgba(255, 255, 255, 0.8);
}

h6 {
    color: #f05d23;
}
@media screen and (max-width: 768px) {
    .mainRow {
        width: 80vw;
        height: 47vh;
    }

    .secondRow {
        width: 80vw;
        height: 47vh;
    }

    .overlayText h3 {
        font-size: 18px;
        padding: 0;
    }
    
    .overlayText p {
        font-size: 12px;
    }

    .overlayText h6 {
        font-size: 14px;
    }
    
    
}