<div class="row d-flex justify-content-evenly align-content-center">
  <div class="col-xs-12 col-lg-6 text-center text-lg-start">
    <h2 class="mb-4 mb-lg-5">Contact Information</h2>
    <p class="mb-3">Address: 
        <a href="http://www.google.com/search?q=Vernon+Connecticut" target="_blank"
        >
        <u>Vernon, CT 06066</u></a
      >
    </p>
    <p class="mb-xs-0 mb-lg-3">
      Phone:
    <u><a href="tel://12095355377"> + 1-209-535-5377</a></u>
    </p>
    <p class="mb-xs-0 mb-lg-3">
      Email:
      <u><a href="mailto:devinfonseca@gmail.com"> devinfonseca@gmail.com</a></u>
    </p>
    <p class="mb-xs-0 mb-lg-3">Website: 
        <a routerLink="">
           <u> devinfonseca.com</u>
        </a>
</p>
    <p class="mb-xs-0 mb-lg-3">
        Linkedin:
        <a href="https://www.linkedin.com/in/devinfonseca/" target="_blank">
          <u>  linkedin.com/in/devinfonseca </u>
        </a>
    </p>
  </div>
  <div class="col-xs-12 col-lg-6">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d6486.285085233018!2d-72.24832393349116!3d41.807302759899464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1suniversity%20of%20connecticut!5e0!3m2!1sen!2sus!4v1630530430366!5m2!1sen!2sus"
      style="border: 0"
      loading="lazy"
    ></iframe>
  </div>
</div>
