<div class="container-fluid vh-100">

  <div class="row">
    <div class="d-none col-3 firstCol d-md-block text-center" >
        <h1 class="mt-5 mb-5 ms-5 text-center d-flex justify-content-center">
          Devin Fonseca
        </h1>
            <div class="d-flex flex-column justify-content-center align-items-center h-50">
              <p class=""><a routerLink='./' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></p>
              <p class=""><a routerLink='/projects' routerLinkActive="active">Projects</a></p>
              <p class=""><a routerLink='/resume'routerLinkActive="active">Resume</a></p>
              <p class=""><a routerLink='/contact'routerLinkActive="active">Contact</a></p>
            </div>
    </div>
    <div class="d-sm-block d-md-none nav">
      <div id="mySidebar" class="sidebar" [ngClass] = "{'open': displayNavbar==true}">
        <a href="#"></a>
        <a href="#">Projects</a>
        <a href="#">Resume</a>
        <a href="#">Contact</a>
      </div>
      
      <div class="main d-flex justify-content-center" [ngClass] = "{'margin' : displayNavbar==true}">
        <img src="assets/icons8-menu-24.png" (click)='displayNav()'>
        <!-- <button class="openbtn" (click)="displayNav()">Sidebar~</button> -->
      </div>
    </div>
      <div class="col-md-12 col-lg-9 mainCol d-flex justify-content-center align-items-center vh-100">
        <div class="overlay"></div>
        <router-outlet></router-outlet>
      </div>
  </div>
</div>