<div class="container-fluid vh-100">
  <div class="row">
    <div class="col-2 firstCol">
      <h1>
        Devin Fonseca
      </h1>
      <div>
        <ul>
          <li>Home</li>
          <li>Projects</li>
          <li>Resume</li>
          <li>Contact</li>
        </ul>
      </div>
    </div>
    <div class="col-10 mainCol d-flex flex-column justify-content-center align-items-center">
      <div class="overlay"></div>
        <div class="row mb-4" id="row">
          <div class="col photo d-flex justify-content-center align-items-center"></div>
        </div>
        <h3 class="">
          Hello I'm
        </h3>
        <h1 class="">
          Devin Fonseca
        </h1>
    </div>
  </div>
</div>