.firstCol {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    /* background: red; */
    /* border: 2px solid red; */
    height: 100vh;
    background:  rgba(0, 0, 0, 0.04);;
}

.mainCol {
    /* border: 3px dashed green; */
    /* position: relative; */
    /* height: 100vh; */
    /* width: 100%; */
    /* background-image: url('../assets/bg_1.jpg'); */
    z-index: 0;
    height: 100vh;
}
.mainCol {
    background-image: url('src\assets\bg_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
    position: relative;
    z-index: 0;
    background-position: center center;
    /* opacity: .4;
    background-image: url('../assets/bg_1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-left: 50px;
    position: absolute;
     display: block; 
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
} 

.mainCol .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    /* opacity: 1; */
    z-index: -1;
    /* display: block; */
    background-color: rgba(255, 255, 255, 0.705);
}

#row {
    /* border: 2px solid red; */
    height: 200px;
    width: 200px;
}

.photo {
    background-size: cover;
    background-image: url('../assets/self.jpg');
    background-position: 0px -60px;
    background-repeat: no-repeat;
    border-radius: 50%;
}

a{
    color: rgba(128, 128, 128, 0.808);
    font-size: 19px;
    font-weight: 600;
}
a:hover{
    color: inherit;
}
p:hover::after,
p:focus::after{
    color: inherit;
    transform: scale(1);
}
p{
    display: inline-block;
    position: relative;
}
p:after {
    color: inherit;
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 2px;
    left: 0;
    background-color: black;
    transform-origin: center;
    transition: transform 0.25s ease-out;
}
p:hover:after {
    transform: scaleX(1);
    transform-origin: center;
}

.active {
    color: black;
    border-bottom: 2px solid black;
    padding-bottom: 3px;
}
.active:focus {
    border-bottom: 2px solid black;
}

h1{
    font-size: 34px;
    /* line-height: 1.5; */
    /* font-weight:900; */
}

.period {
    /* border:2px solid red; */
    /* float: left; */
    /* position: relative; */
    color: #ccc;
    /* bottom: 5px; */
}

.navbar {
    height: 0%;
}

.nav {
    /* border: 1px solid red; */
    padding: 3px;
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: 20px;
    /* height: 30px; */
    /* width: 40px;     */
    z-index: 10;
}

.sidebar {
    height: 100%;
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

.sidebar a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: pink;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }

#main {
    /* border: 2px solid red; */
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }

  /* @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  } */


  .open {
      width: 250px;
  }

  .margin {
      margin-left: 250px;
  }
