<div class="col-12 d-none hide-mobile d-md-flex justify-content-center align-items-center" id="pdf">
    <iframe src="assets/devNewRes.pdf#view=Fit" class="resume d-flex justify-content-center align-content-center" ></iframe>
</div>
<div class="col-12 text-center noResume d-flex justify-content-center align-items-center">
    <div class="text-center">
        <p>Oops! PDF can't load!</p>
        <p><a href="assets/devNewRes.pdf" download="Devin Fonseca Resume"><u>Download Instead</u></a></p>
    </div>
</div>