.resume {
    width: 760px;
    height: 715px;
    /* z-index: 1; */
}
.col-12{
    height: 90vh;
    width: 70vw;
}

.noResume{
    height: 0;
    bottom: 50%;
    z-index: -1;
    position: absolute;
    right: 0px;
    left: 0px;
}

@media screen and (max-width: 767px) {
    .resume { 
        height: 80vh;
    }

    .col-12 {
        width: 100vw;
    }
}