<div
  class="col-12 d-none hide-mobile d-md-flex justify-content-center align-items-center"
  id="pdf"
>
  <iframe
    src="assets/FonsecaRes2023.pdf#view=Fit"
    class="resume d-flex justify-content-center align-content-center"
  ></iframe>
</div>
<div
  class="d-md-none col-12 text-center noResume d-flex justify-content-center align-items-center"
>
  <img
    class="resumeImg-mobile"
    src="../../assets/FonsecaResMobile.jpg"
    alt=""
  />
  <!-- <div class="text-center">
    <p>Oops! PDF can't load!</p>
        <p><a href="assets/FonsecaRes2023.pdf" download="Devin Fonseca Resume"><u>Download Instead</u></a></p>
  </div> -->
</div>
