<div
  class="col-12 d-none hide-mobile d-md-flex justify-content-center align-items-center"
  id="pdf"
>
  <iframe
    src="assets/FonsecaRes2023.pdf#view=Fit"
    class="resume d-flex justify-content-center align-content-center"
  ></iframe>
</div>
<div
  class="d-md-none col-12 text-center noResume d-flex flex-column justify-content-center align-items-center"
>
  <p>
    <a
      href="assets/FonsecaRes2023.pdf"
      target="_blank"
      download="Devin Fonseca Resume"
      ><u>Download</u></a
    >
  </p>
  <img
    class="resumeImg-mobile"
    src="../../assets/FonsecaResMobile.jpg"
    alt=""
  />
  <!-- <div class="text-center">
    <p>Oops! PDF can't load!</p>
  </div> -->
</div>
