.resume {
    width: 760px;
    height: 715px;
}
.col-12{
    /* border: 2px solid red; */
    height: 90vh;
    width: 70vw;
}

@media screen and (max-width: 767px) {
    .resume { 
        /* border:9px solid green; */
        /* width: 100vw; */
        height: 80vh;
    }

    .col-12 {
        width: 100vw;
    }
}