h1 {
    font-size: 2.5rem;
}

.photo {
    height: 200px;
    width: 200px;
    background-size: cover;
    background-image: url('../../assets/self.jpg');
    background-position: 0px -60px;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.subheading {
    font-size: 24px;
    color: #6e6e6e;
    font-weight: 300;
}

.summary {
    color: #6e6e6e;
}







/** Trash */

.mainCol {
    /* background-image: url('src\assets\bg_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
    position: relative;
    z-index: 0; */
    /* opacity: .4;
    background-image: url('../assets/bg_1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-left: 50px;
    position: absolute;
     display: block; 
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
} 

.mainCol .overlay {
    /* position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.705); */
}
