h1 {
    font-size: 2.5rem;
}

.photo {
    height: 200px;
    width: 200px;
    background-size: cover;
    background-image: url('../../assets/self.jpg');
    background-position: 0px -60px;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.subheading {
    font-size: 24px;
    color: #6e6e6e;
    font-weight: 300;
}

.summary {
    color: #6e6e6e;
}


